$colorLight: #F7F0F0;
$colorDark: #0C3745;
$colorNavy: #15617A;
$colorBlue: #496A81;
$colorCoral: #EF767A;

.app {
  background-color: $colorLight;
  display: grid;
  grid-template-rows: 45rem 6rem minmax(50rem, auto) 8rem;
  grid-template-columns: repeat(8, 1fr);

  & > * {
    grid-column: 1 / -1;
  }
}


.body {
  grid-row: 3 / span 1;
  color: $colorDark;

  display: grid;
  grid-auto-rows: minmax(6rem, auto);
  grid-template-columns: 18vw 1fr 18vw;

  // #nav--sticky {
  //   background-color: $colorDark;
  //   grid-column: 1 / -1;
  //   position: sticky;
  //   top: 0;
  // }
}