*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-size: 1.4rem;
  background-color: $colorLight;
}

a,
a:active,
a:visited {
  color: $colorLight;
  text-decoration: none;
  opacity: 1;
  transition: opacity .2s ease-in;

  &:hover {
    opacity: .8;
  }
}